.footer-menu {
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .footer-menu:hover {
    color: rgb(29, 228, 89);
  }
  .footer-input {
    padding: 8px;
    border: none;
    outline: none;
    background-color: rgb(221, 227, 223);;
  }
  .footer-container {
    margin-top: 40px;
    background-color: black;
    padding: 20px;
    color: rgb(216, 209, 209);
  }
  a{
    color: white;
    text-decoration: none;
  }